
body{

		margin-top:50px;
		margin-left:25px;
		margin-right:25px;
		background: #fff;
		font-family: 'crimson_textroman', 'Times New Roman', Times, serif;
		color: #555;
		font-size: 20px;
		line-height: 28px;
	}

	h1, h2, h3, h4{
		font-family: 'montserratbold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

	}

	h1{
		text-transform: uppercase;
		font-size: 60px;
		-webkit-margin-before: 0.67em;
		-webkit-margin-after: 0.67em;
		color: #000;
	}

	h2{
		font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

		color: #000;
		/*text-transform: uppercase;*/
		font-size: 31.5px;
		line-height: 40px;
	}

	h3{
		font-family: "crimson_textitalic", 'Times New Roman', Times, serif;
		font-size: 24px;
		line-height: 24px;
	}

	h4{
		text-transform: uppercase;
		color:#000;
	}

	.small{
		font-size: 14px;
		line-height: 20px;
	}

	a{
		color: #000;
		text-decoration: none;
	}

	a:hover{
		text-decoration: none;
	}

	ul.tags a{
		color: #E3E3E3;
		line-height: 24px;
		font-size: 16px;
		font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	}